<div class="dropdown-selected" (click)="onDropDownClick()">
  <span>{{ selected }}</span
  ><svg
    class="dropdown__chevron"
    focusable="false"
    viewBox="0 0 512 260"
    aria-hidden="true"
    fill="currentColor"
  >
    <path d="M -1,2 255.75945,258.75945 512.5189,2 Z" />
  </svg>
</div>
<div #dpItems class="dropdown__items">
  <ng-container *ngFor="let item of items; let i = index">
    <div class="dropdown__item" (click)="emitSelected.emit(item)">
      <ng-container
        *ngIf="beforeTmplRef"
        [ngTemplateOutlet]="beforeTmplRef"
        [ngTemplateOutletContext]="{ $implicit: item }"
      ></ng-container>
      <span>
        {{ item }}
      </span>
      <ng-container
        *ngIf="afterTmplRef"
        [ngTemplateOutlet]="afterTmplRef"
        [ngTemplateOutletContext]="{ $implicit: item }"
      ></ng-container>
    </div>
  </ng-container>
</div>
