:host {
  position: relative;
  display: flex;
  width: 100%;
  font-size: 1.1em;
  cursor: pointer;
}

.dropdown {
  &__items {
    position: absolute;
    left: -0.2em;
    right: -0.2em;
    overflow-y: auto;
    background-color: var(--cl-bg);
    border-radius: 0.5em;
    transform: scaleY(0);
    opacity: 0;
    max-height: 15em;

    &-up {
      bottom: 0;
      @extend %dropdown__open;
    }

    &-down {
      top: 0;
      @extend %dropdown__open;
    }
  }

  &__item {
    position: relative;
    padding: 0.5em;
    margin: 0.1em 0;
    &:hover {
      &::before {
        content: '';
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, 0.15);
      }
    }
  }

  &__chevron {
    width: 1em;
  }

  &-selected {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    height: 100%;
    width: calc(100% - 1.2em);
    border-radius: 0.5em;
    padding: 0.6em;
    border: solid 2px var(--cl-primary);
  }
}

%dropdown__open {
  transition: scale 0.35s cubic-bezier(0.36, 0.66, 0.04, 1) 25ms,
    opacity 0.35s cubic-bezier(0.36, 0.66, 0.04, 1);
  opacity: 1 !important;
  transform: scale(1) !important;
}
